{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu - {{ parent() }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="box">
                        <h1 class="title has-text-centered mb-5">Créer un nouveau lieu</h1>

                        {{ form_start(form) }}

                        <div class="field">
                            <label class="label">{{ form_label(form.nom) }}</label>
                            <div class="control">
                                {{ form_widget(form.nom, {'attr': {'class': 'input is-medium'}}) }}
                            </div>
                            <p class="help is-danger">{{ form_errors(form.nom) }}</p>
                        </div>

                        <div class="field mt-4">
                            <label class="label">Adresse</label>
                            <div class="box p-4 mb-3">
                                <div class="field">
                                    <label class="label">Rechercher une adresse</label>
                                    <div class="control has-icons-left">
                                        <input type="text" class="input adresse-autocomplete" placeholder="Commencez à taper une adresse...">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">{{ form_label(form.rue) }}</label>
                                    <div class="control">
                                        {{ form_widget(form.rue, {'attr': {'class': 'input'}}) }}
                                    </div>
                                    <p class="help is-danger">{{ form_errors(form.rue) }}</p>
                                </div>

                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label class="label">{{ form_label(form.ville) }}</label>
                                            <div class="control">
                                                {{ form_widget(form.ville, {'attr': {'class': 'input'}}) }}
                                            </div>
                                            <p class="help is-danger">{{ form_errors(form.ville) }}</p>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label class="label">{{ form_label(form.codePostal) }}</label>
                                            <div class="control">
                                                {{ form_widget(form.codePostal, {'attr': {'class': 'input'}}) }}
                                            </div>
                                            <p class="help is-danger">{{ form_errors(form.codePostal) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box p-4">
                                <label class="label mb-2">Coordonnées géographiques</label>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <label class="label is-small">{{ form_label(form.latitude) }}</label>
                                            <div class="control has-icons-left">
                                                {{ form_widget(form.latitude, {'attr': {'class': 'input'}}) }}
                                                <span class="icon is-small is-left">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                    </span>
                                            </div>
                                            <p class="help is-danger">{{ form_errors(form.latitude) }}</p>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="field">
                                            <label class="label is-small">{{ form_label(form.longitude) }}</label>
                                            <div class="control has-icons-left">
                                                {{ form_widget(form.longitude, {'attr': {'class': 'input'}}) }}
                                                <span class="icon is-small is-left">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                    </span>
                                            </div>
                                            <p class="help is-danger">{{ form_errors(form.longitude) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-centered mt-5">
                            <div class="control">
                                <button class="button is-success is-medium">
                                        <span class="icon">
                                            <i class="fas fa-save"></i>
                                        </span>
                                    <span>{{ button_label|default('Enregistrer') }}</span>
                                </button>
                            </div>
                            <div class="control">
                                <a href="{{ path('app_lieu_index') }}" class="button is-light is-medium">
                                        <span class="icon">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    <span>Annuler</span>
                                </a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}

    {% include 'autocomplétionAdresse.html.twig' %}
{% endblock %}