{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="box">
        <h1 class="title is-2">Changer mon mot de passe</h1>

        {{ form_start(form) }}
        <div class="columns">
            <div class="column is-half">
                <div class="field">
                    <label class="label">{{ form_label(form.oldPassword) }}</label>
                    <div class="control has-icons-left">
                        {{ form_widget(form.oldPassword, {'attr': {'class': 'input'}}) }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <p class="help is-danger">{{ form_errors(form.oldPassword) }}</p>
                </div>

                <div class="field">
                    <label class="label">{{ form_label(form.newPassword.first) }}</label>
                    <div class="control has-icons-left">
                        {{ form_widget(form.newPassword.first, {'attr': {'class': 'input'}}) }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <p class="help">Utilisez au moins 8 caractères avec des lettres majuscules, minuscules et des chiffres.</p>
                    <p class="help is-danger">{{ form_errors(form.newPassword.first) }}</p>
                </div>

                <div class="field">
                    <label class="label">{{ form_label(form.newPassword.second) }}</label>
                    <div class="control has-icons-left">
                        {{ form_widget(form.newPassword.second, {'attr': {'class': 'input'}}) }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <p class="help is-danger">{{ form_errors(form.newPassword.second) }}</p>
                </div>

                <div class="field is-grouped mt-5">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            <span class="icon"><i class="fas fa-save"></i></span>
                            <span>Changer mon mot de passe</span>
                        </button>
                    </div>
                    <div class="control">
                        <a href="{{ path('app_profile_show') }}" class="button is-light">
                            <span class="icon"><i class="fas fa-ban"></i></span>
                            <span>Annuler</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="box">
                    <h2 class="title is-4">Conseils de sécurité</h2>
                    <div class="content">
                        <ul>
                            <li>Utilisez un mot de passe d'au moins 8 caractères</li>
                            <li>Incluez des lettres majuscules et minuscules</li>
                            <li>Ajoutez des chiffres et des caractères spéciaux</li>
                            <li>Évitez d'utiliser des informations personnelles facilement devinables</li>
                            <li>N'utilisez pas le même mot de passe que pour vos autres comptes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}