{% extends 'base.html.twig' %}

{% block title %}Mon Profil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="box">
        <h1 class="title is-2">Mon Profil</h1>

        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                            {% if participant.urlPhoto %}
                                <img src="{{ asset('uploads/photos/' ~ participant.urlPhoto) }}" alt="Photo de {{ participant.pseudo }}">
                            {% else %}
                                <img src="{{ asset('images/default-avatar.png') }}" alt="Photo de profil par défaut">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">{{ participant.pseudo }}</p>
                        <p class="subtitle is-6">{{ participant.campus.nom }}</p>
                    </div>
                </div>

                <div class="buttons mt-4">
                    <a href="{{ path('app_profile_edit') }}" class="button is-primary is-fullwidth">
                        <span class="icon"><i class="fas fa-edit"></i></span>
                        <span>Modifier mon profil</span>
                    </a>
                    <a href="{{ path('app_profile_password') }}" class="button is-info is-fullwidth">
                        <span class="icon"><i class="fas fa-key"></i></span>
                        <span>Changer mon mot de passe</span>
                    </a>
                </div>
            </div>

            <div class="column">
                <div class="box">
                    <h2 class="title is-4">Informations personnelles</h2>

                    <div class="field">
                        <label class="label">Nom</label>
                        <div class="control">
                            <p>{{ participant.nom }}</p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Prénom</label>
                        <div class="control">
                            <p>{{ participant.prenom }}</p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <p>{{ participant.email }}</p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Téléphone</label>
                        <div class="control">
                            <p>{{ participant.telephone ? participant.telephone : 'Non renseigné' }}</p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Campus</label>
                        <div class="control">
                            <p>{{ participant.campus.nom }}</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <h2 class="title is-4">Activité</h2>
                    <p class="mb-2">Dernière connexion: Information non disponible</p>
                    <p>Membre depuis: Information non disponible</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}