{% extends 'base.html.twig' %}

{% block title %}{{ sortie.nom|upper }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="column has-text-centered">
                <h1 class="title" style="color: #a11616;">{{ sortie.nom|upper }}</h1><br>
            </div>
            <div class="box">
                <ul>
                    <li class="box content"><strong>Date et heure de la sortie :</strong> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</li>
                    <li class="box content"><strong>Date limite d'inscription :</strong> {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</li>
                    {% set nbplaces = sortie.inscriptions.count %}
                    <li class="box content"><strong>Inscrits :</strong> {{ nbplaces }} / {{ sortie.nbInscriptionsMax }}</li>
                    <li class="box content"><strong>Durée :</strong> {{ sortie.duree }} minutes</li>
                    <li class="box content"><strong>Description et infos :</strong> {{ sortie.infosSortie }}</li>
                    <li class="box content"><strong>Ville organisatrice :</strong> {{ sortie.lieu.ville }}</li>
                    <li class="box content"><strong>Lieu :</strong> {{ sortie.lieu.nom }}</li>
                    <li class="box content"><strong>Rue </strong> {{ sortie.lieu.rue }}</li>
                    <li class="box content"><strong>Code postal :</strong> {{ sortie.lieu.codePostal }}</li>

                    <div id="map" style="height: 50vh;">
                        {{ mapScript|raw }}
                    </div>
                        <a href="https://www.google.com/maps?q={{ lieu.latitude }},{{ lieu.longitude }}" target="_blank" class="button is-info">
                            <span class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span>Voir sur Google Maps</span>
                        </a>

                    <div class="box">
                        <h2 class="title">Participants</h2>
                        <div class="table-container">
                            <table class="table is-fullwidth is-striped is-hoverable">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Voir le profil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for participant in sortie.participants %}
                                    <tr>
                                        <td>{{ participant.nom }}</td>
                                        <td>{{ participant.prenom }}</td>
                                        <td>
                                            <div class="buttons are-small">
                                                <a href="{{ path('app_profile_detail', {'id': participant.id}) }}" class="button is-info">
                                                    <span class="icon"><i class="fas fa-eye"></i></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="has-text-centered">Aucun participant</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    {% if app.user.id is same as sortie.organisateur.id and sortie.etat.id is same as 1 %}
        <div class="buttons mb-4">
            <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="button is-success">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Publier</span>
            </a>
        </div>
    {% endif %}
    {% if app.user.id is same as sortie.organisateur.id and sortie.etat.libelle is not same as 'Annulée' %}
        <div class="buttons mb-4">
            <a href="{{ path('sortie_editer', {'id': sortie.id}) }}" class="button is-success">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Modifier</span>
            </a>
        </div>
    {% endif %}
        {% if (app.user == sortie.organisateur or is_granted('ROLE_ADMIN'))
            and sortie.etat.id not in [5, 6] %} {# 5=Passée, 6=Annulée #}
            <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}" class="button is-danger">
                <span class="icon"><i class="fas fa-ban"></i></span>
                <span>Annuler la sortie</span>
            </a>
        {% endif %}


    {% set inscrit = 0 %}

    {# Vérification de si je suis déjà inscrit #}
    {% for participant in sortie.participants %}
        {% if app.user.id is same as participant.id %}
            {% set inscrit = 1 %}
        {% endif %}
    {% endfor %}

    {# Si je ne suis pas l'organisateur, que je ne suis pas déjà inscrit et qu'il reste de la place #}
    {% if app.user.id is not same as sortie.organisateur.id
        and nbplaces < sortie.nbInscriptionsMax
        and inscrit is same as 0
        and sortie.etat.id is not same as 6
        and sortie.etat.id is not same as 5
        and sortie.etat.id is not same as 3
    %}
        <div class="buttons mb-4">
            <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}" class="button is-success">
                <span class="icon"><i class="fas fa-plus"></i></span>
                <span>Participer</span>
            </a>
        </div>
    {% endif %}

    {# Si je suis inscrit #}
    {% if inscrit is same as 1 %}
        <div class="buttons mb-4">
            <a href="{{ path('sortie_desistement', {'id': sortie.id}) }}" class="button is-danger">
                <span class="icon"><i class="fas fa-minus"></i></span>
                <span>Se désinscrire</span>
            </a>
        </div>
    {% endif %}

{% endblock %}

