{% extends 'base.html.twig' %}

{% block title %}Sortis liste{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('styles/cards.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock stylesheets %}


{% block body %}
        <div class="container">
            <div class="section">
                <div class="buttons mb-4">
                    <a href="{{ path('sortie_create') }}" class="button is-success">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <span>Créer une sortie</span>
                    </a>
                </div>
                <div class="column has-text-centered">
                    <h1 class="title" style="color: #a11616;">Liste des sorties</h1><br>
                </div>
                <div class="columns">
                    <div id="app" class="row columns is-multiline">
                        {% for sortie in sorties %}
                        <div v-for="card in cardData" key="card.id" class="column is-4">
                            <div class="card large">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4 no-padding"><a href="{{ path('sortie_detail', {id: sortie.id }) }}">{{ sortie.nom }}</a></p>
                                            <p>
                                                 <span class="title is-6"><a href=""> {{ sortie.organisateur.pseudo }} </a></span>
                                            </p>
                                            <p class="subtitle is-6"> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }} </p>
                                            <p class="subtitle is-6"> {{ sortie.lieu.ville }} </p>
                                            {% set nbplaces = sortie.inscriptions.count %}
                                            <p class="subtitle is-6"> {{ nbplaces }} / {{ sortie.nbInscriptionsMax }} inscrits </p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {{ sortie.infosSortie }}
                                        <div class="background-icon"><span class="icon-twitter"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% if sorties.pageCount > 1 %}
        <nav class="pagination is-centered mt-5" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% for page in 1..sorties.pageCount %}
                    <li>
                        <a class="pagination-link {{ page == sorties.currentPageNumber ? 'is-current' : '' }}"
                           href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': page})) }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}


{% endblock %}