{% extends 'base.html.twig' %}

{% block title %}Sortis liste{% endblock %}

{% block body %}
    <h2>Liste des sorties</h2>

    {% for sortie in sorties %}
        <div>
            <p>{{ sortie.nom }}</p>
            <p>{{ sortie.duree }}</p>
            <p>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
            <p>{{ sortie.duree }}</p>
            <p>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>
            <p>{{ sortie.infosSortie }}</p>

        </div>
    {% endfor %}
{% endblock %}