<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="icon" href={{ asset('images/favicon.png') }}>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
            <link rel="stylesheet" href="{{ asset('css/bulma.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        {% endblock %}


    </head>
    <body>
        {% block header %}
            {% include 'partials/_navbar.html.twig' %}
        {% endblock %}

        <section class="section">
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="notification is-{{ label }} is-light">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

        {% block body %}{% endblock %}
            </div>
        </section>
    {% block footer %}
        {% include'partials/_footer.html.twig' %}
    {% endblock %}

        {% block javascripts %}
            <script>        // Pour fermer les notifications
                document.addEventListener('DOMContentLoaded', () => {
                    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                        const $notification = $delete.parentNode;
                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                    });
                });
        </script>
        {% endblock %}
    </body>
</html>
